*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    margin: 0 auto;
    background-image: url(./pictures/background.jpg);
    background-size: cover;
}
.add-restaurant,.main-header{
    padding: 1rem;
}
.restaurant-add{
    margin: 0 auto;
    max-width: 40%;
    /* border: 1px solid; */
    border-radius: 15px;
    box-shadow: 0px 0px 10px gray;
    background-color: rgb(233, 233, 233);
    }

@media screen and (max-width: 400px){
    
    .restaurant-add{
        width: 100%;
        background-color: yellow;
    }

}

.restaurant-add .res-loc,.res-name, .res-rec, .res-type{
    padding: .8rem 0;

     }

.res-name{
    width: 100%;
}
.res-loc{
    width: 100%;
}

.res-name input, .res-loc input, .res-rec input, .res-type input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    
}

.res-name label, res.res-loc label{
    margin-bottom: 4px;
}



.res-button{
    border: 0;
    background-color: #5993ff;
    height: 1.5rem;
    width: 3.75rem;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}
.showItems{
    margin: 5px auto;
    max-width: 40%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px gray;
    min-height: 20rem;
    padding: 1rem;
    background-color: rgb(233, 233, 233);
}
.random-food{
    padding: .5rem;
}

.get-food{
    padding: .5rem;
}

.items{
    list-style-type: none;
}

.items li{
    margin-bottom: .5rem;
    border-bottom: 1px solid black;
    max-width: 70%;
    padding: 5px;
}


